In [1]:
import pandas as pd
import numpy as np
import re
from nltk import sent_tokenize,word_tokenize

# Data Cleaning

In [2]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name
clean=["we","our","us","itself","employees","firm","apply","disabilities",
       "re","company","description","accomendation","\nWe","relocation","location"]
def clean_JD(jd,name):
    if len(name)>1:
        s=""
        try:
            for i in name:
                s+=i[0]
            name+=[s]
        except:
            pass
    res=""
    for sentence in sent_tokenize(jd):
        for j in sentence.split("\n"):
            if not j: continue
            sent=[]
            for x in word_tokenize(j):
                if x.isalnum():
                    sent.append(x.lower())
            A=set(sent)
            B=set(name+clean)
            if not A&B:
                res+=j+"\n"
    return res if res else None
def split_by_slash(a):
    if str(a).find("\n")!=-1:
        a = a.split("\n")[0]
    a=a.replace("-"," ")
    return [x.lower() for x in word_tokenize(a) if x.isalnum()]

In [3]:
def data_clean(df):
    name = get_df_name(df)
    checklist={"BA":"Business Analyst","DA":"Data Analyst","DE":"Data Engineer","DS":"Data Scientist"}
    df=df.rename(columns={"Job Title":"JT","Job Description":"JD","Salary Estimate":"Salary"})
    
    #filter out columns that do not have role title in the name
    df=df[df.JT.str.contains(checklist[name], regex= True, na=False)]
    df=df[["JT","Salary","JD","Company Name"]]
    
    #get name
    df["Company Name"] =df.apply(lambda x: split_by_slash(x['Company Name']),axis=1)
    #filter out sentences in JD that has the company name or common words 
    df['JD'] =df.apply(lambda x: clean_JD(x['JD'],x['Company Name']),axis=1)

    df=df.dropna()
    df.reset_index(inplace=True)
    return df

# BA Dataset

In [4]:
BA = pd.read_csv("BusinessAnalyst.csv")
part1=BA[:3691]
part1.drop("Unnamed: 0" , axis=1, inplace=True)
part1.drop("index" , axis=1, inplace=True)
part2=BA[3692:]
part2.columns=["Job Title","Salary Estimate","Job Description","Rating","Company Name","Location","Headquarters","Size","Founded","Type of ownership","Industry","Sector","Revenue","Competitors","Easy Apply","A","B"]
part2.drop("A" , axis=1, inplace=True)
part2.drop("B" , axis=1, inplace=True)
BA=pd.concat([part1,part2])

/Users/lisakuai/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [5]:
df_BA=data_clean(BA)

In [6]:
df_BA

,index,JT,Salary,JD,Company Name
0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),You will:\nSupport agile team in translating e...,"[memorial, sloan, kettering, msk]"
1,1,Business Analyst,$56K-$102K (Glassdoor est.),If you enjoy working in a highly collaborative...,"[paine, schwartz, partners, psp]"
2,8,Tolling Business Analyst,$56K-$102K (Glassdoor est.),Excellence Delivered As Promised.\nIt’s more t...,"[gannett, fleming, gf]"
3,9,Business Analyst - Risk,$56K-$102K (Glassdoor est.),This global practice supports clients in many ...,[mckinsey]
4,14,Business Analyst,$56K-$102K (Glassdoor est.),Business Analysts roles are targeted at gradua...,[efficio]
...,...,...,...,...,...
1658,3931,Business Analyst Fresher,$45K-$110K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]"
1659,3935,SAS Developer and Business Analyst (Security/F...,$30K-$57K (Glassdoor est.),The Business Senior Analyst is an intermediate...,[citibank]
1660,3966,Business Analyst - Loan IQ Specialist,$28K-$54K (Glassdoor est.),Back to job search\nBusiness Analyst - Loan IQ...,"[delaware, investments, colorado, municipal, i..."
1661,4014,Business Analyst Fresher,$47K-$105K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]"
1662,4052,Urgent - Business Analyst Fresher,$39K-$73K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]"

# DA Dataset

In [7]:
DA=pd.read_csv("DataAnalyst.csv")
DA=DA.dropna()

In [8]:
df_DA=data_clean(DA)

In [9]:
df_DA

,index,JT,Salary,JD,Company Name
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,"[vera, institute, of, justice, vioj]"
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\nProvides support and analytical insi...,"[visiting, nurse, service, of, new, york, vnsony]"
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),"In this role, you’ll have the opportunity to b...",[squarespace]
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nIntr...,[celerity]
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),TVG — The best-in-class horse racing TV/media ...,[fanduel]
...,...,...,...,...,...
3978,5626,Data Analyst (Power BI + SAP),$51K-$93K (Glassdoor est.),This dynamic role will require the candidate t...,"[kore1, technologies, kt]"
3979,5627,Technical Business or Data Analyst,$46K-$72K (Glassdoor est.),Hi\nHope you are doing great\nPlease go throug...,"[adwait, algorithm, aa]"
3980,5628,Data Analyst Junior,$44K-$82K (Glassdoor est.),"Interpret data, analyze results using statisti...","[staffigo, technical, services, llc, stsl]"
3981,5629,Sr. HR Data Analyst,$44K-$82K (Glassdoor est.),POSITION SUMMARY:\nThey will also analyze data...,[cepheid]
3982,5630,Data Analyst â Junior,$89K-$151K (Glassdoor est.),"Interpret data, analyze results using statisti...","[staffigo, technical, services, llc, stsl]"

# Data Scientist

In [10]:
DS=pd.read_csv("DataScientist.csv")

In [11]:
df_DS=data_clean(DS)

In [12]:
df_DS

,index,JT,Salary,JD,Company Name
0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),The app has received high praise in the form o...,[hopper]
1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),You have 4+ years of experience as a Data Scie...,"[noom, us, nu]"
2,5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\nThe ideal candidate will have previ...,"[ifg, companies, ic]"
3,10,Data Scientist,$111K-$181K (Glassdoor est.),Backed by $153MM in venture funding from top i...,"[quartet, health, qh]"
4,11,Data Scientist/Machine Learning,$111K-$181K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",[pulsepoint]
...,...,...,...,...,...
968,3804,Senior Data Scientist *,$52K-$94K (Glassdoor est.),There is no shortage of computational and stat...,"[root, insurance, ri]"
969,3809,Data Scientist - BFSI,$52K-$94K (Glassdoor est.),Good understanding of machine learning and dat...,"[tephra, inc, ti]"
970,3818,"Sr. Data Scientist (Columbus, Ohio)",$52K-$94K (Glassdoor est.),You will collaborate with cross-functional tea...,"[tiger, analytics, ta]"
971,3819,"Data Scientist Lead, Capacity Planning & Analy...",$52K-$94K (Glassdoor est.),The Business Planning and Analysis (BP&A) team...,"[jpmorgan, chase, bank, jcb]"
972,3830,"Principal Data Scientist, Pricing",$55K-$113K (Glassdoor est.),The ideal candidate will have experience in Pr...,"[root, insurance, ri]"

# Data Engineer

In [13]:
DE=pd.read_csv("DataEngineer.csv")

In [14]:
df_DE=data_clean(DE)

In [15]:
df_DE

,index,JT,Salary,JD,Company Name
0,0,Data Engineer,$80K-$150K (Glassdoor est.),**\nJob Overview\nAlong with the requirements ...,[sagence]
1,1,Senior Data Engineer (Healthcare Domain experi...,$80K-$150K (Glassdoor est.),"Key Responsibilities\n- Architect, build, and ...","[enterprise, integration, ei]"
2,2,Data Engineers,$80K-$150K (Glassdoor est.),Overview\nPosition Overview:\nSeeking a highly...,"[maestro, technologies, mt]"
3,4,Data Engineer,$80K-$150K (Glassdoor est.),Data Engineer\nJob Details\nLevel\nExperienced...,"[gny, insurance, companies, gic]"
4,6,Senior Data Engineer,$80K-$150K (Glassdoor est.),Senior Data Engineer\nMaster’s degree in Infor...,"[affinity, solutions, as]"
...,...,...,...,...,...
1162,2500,Federal - Data Engineer - Senior,$56K-$89K (Glassdoor est.),Organization: Accenture Federal Services\nAcce...,"[solekai, systems, corp, ssc]"
1163,2503,Sr Data Engineer Hadoop,$56K-$89K (Glassdoor est.),"Job Responsibilities\nWrite well designed, tes...","[ntt, data, nd]"
1164,2504,Senior Big Data Engineer,$56K-$89K (Glassdoor est.),"Your Opportunity\nThey help Marketing, Finance...",[schwab]
1165,2514,Digital SW Eng Lead/Data Engineer,$76K-$128K (Glassdoor est.),"Digital SW Eng Lead/Data Engineer\nIrving, TX\...","[technocraft, solutions, ts]"
1166,2525,Sr. Big Data Engineer,$76K-$128K (Glassdoor est.),"Develop data collections, labeling pipelines, ...","[cincinnati, bell, technology, solutions, cbts]"

In [16]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
def wc(df):    
    res=""
    for i,row in df.iterrows():
        res+=row['JD']
    %matplotlib inline
    wordcloud = WordCloud(stopwords=STOPWORDS,background_color='white',width=3000,height=3000).generate(res)


    plt.imshow(wordcloud)
    plt.axis('off')
    plt.show()

ModuleNotFoundError: No module named 'wordcloud'

In [ ]:
wc(df_BA)

In [ ]:
wc(df_DA)

In [ ]:
wc(df_DS)

In [ ]:
wc(df_DE)

# JD List Matching

In [17]:
from collections import Counter
import nltk
import string
from nltk.tokenize import word_tokenize
import math

In [18]:
# got these keywords by looking at some examples and using existing knowledge.
tool_keywords1 = ['python', 'pytorch', 'sql', 'mxnet', 'mlflow', 'einstein', 'theano', 'pyspark', 'solr', 'mahout', 
 'cassandra', 'aws', 'powerpoint', 'spark', 'pig', 'sas', 'java', 'nosql', 'docker', 'salesforce', 'scala', 'r',
 'c', 'c++', 'net', 'tableau', 'pandas', 'scikitlearn', 'sklearn', 'matlab','keras', 'tensorflow', 'clojure',
 'caffe', 'scipy', 'numpy', 'matplotlib', 'vba', 'spss', 'linux', 'azure', 'cloud', 'gcp', 'mongodb', 'mysql', 'oracle', 
 'redshift', 'snowflake', 'kafka', 'javascript', 'qlik', 'jupyter', 'perl', 'bigquery', 'unix', 'react',
 'scikit', 'powerbi', 's3', 'ec2', 'lambda', 'ssrs', 'kubernetes', 'hana', 'spacy', 'tf', 'django', 'sagemaker',
 'seaborn', 'mllib', 'github', 'git', 'elasticsearch', 'splunk', 'airflow', 'looker', 'rapidminer', 'birt', 'pentaho', 
 'jquery', 'nodejs', 'd3', 'plotly', 'bokeh', 'xgboost', 'rstudio', 'shiny', 'dash', 'h20', 'h2o', 'hadoop', 'mapreduce', 
 'hive', 'cognos', 'angular', 'nltk', 'flask', 'node', 'firebase', 'bigtable', 'rust', 'php', 'cntk', 'lightgbm', 
 'kubeflow', 'rpython', 'unixlinux', 'postgressql', 'postgresql', 'postgres', 'hbase', 'dask', 'ruby', 'julia', 'tensor',
# added r packages doesn't seem to impact the result
 'dplyr','ggplot2','esquisse','bioconductor','shiny','lubridate','knitr','mlr','quanteda','dt','rcrawler','caret','rmarkdown',
 'leaflet','janitor','ggvis','plotly','rcharts','rbokeh','broom','stringr','magrittr','slidify','rvest',
 'rmysql','rsqlite','prophet','glmnet','text2vec','snowballc','quantmod','rstan','swirl','datasciencer',
'c#','excel','microsoft','erp','tableau','vba','jira','git','postgresql','db','bi']


# another set of keywords that are longer than one word.
tool_keywords2 = set(['amazon web services', 'google cloud','power bi','erp system','ms office'])

In [19]:
# hard skills/knowledge required.
skill_keywords1 = set(['statistics', 'cleansing', 'chatbot', 'cleaning', 'blockchain', 'causality', 'correlation', 'bandit', 'anomaly', 'kpi',
 'dashboard', 'geospatial', 'ocr', 'econometrics', 'pca', 'gis', 'svm', 'svd', 'tuning', 'hyperparameter', 'hypothesis',
 'salesforcecom', 'segmentation', 'biostatistics', 'unsupervised', 'supervised', 'exploratory',
 'recommender', 'recommendations','sequencing', 'probability', 'reinforcement', 'graph', 'bioinformatics',
 'chi', 'knn', 'outlier', 'etl', 'normalization', 'classification', 'optimizing', 'prediction', 'forecasting',
 'clustering', 'cluster', 'optimization', 'visualization', 
 'regression', 'logistic', 'nn', 'cnn', 'glm','nlp','economics','math','engineering'
 'rnn', 'lstm', 'gbm', 'boosting', 'recurrent', 'convolutional', 'bayesian','analyze','research','data','business',
'healthcare','risk','finance','accounting','hardware','pipeline','communication',
 'bayes'])


# another set of keywords that are longer than one word.
skill_keywords2 = set(['random forest', 'natural language processing', 'machine learning', 'decision tree', 'deep learning', 'experimental design',
 'time series', 'nearest neighbors', 'neural network', 'support vector machine', 'computer vision', 'dimensionality reduction', 
 'text analytics', 'a b testing', 'ab testing', 'chat bot', 'data mining','problem solving','project management'
'computer science','information technology','data modeling', 'data warehousing','end user',
'financial modeling','multivariate testing','database deployment','big data'])

In [20]:
degree_dict = {'bs': 1, 'bachelor': 1, 'undergraduate': 1, 
               'master': 2, 'graduate': 2, 'mba': 2.5, 
               'phd': 3, 'ph.d': 3, 'ba': 1, 'ma': 2,
               'postdoctoral': 4, 'postdoc': 4, 'doctorate': 3}


degree_dict2 = {'advanced degree': 2, 'ms or': 2, 'ms degree': 2, '4 year degree': 1, 'bs/': 1, 'ba/': 1,
                '4-year degree': 1, 'b.s.': 1, 'm.s.': 2, 'm.s': 2, 'b.s': 1, 'phd/': 3, 'ph.d.': 3, 'ms/': 2,
                'm.s/': 2, 'm.s./': 2, 'msc/': 2, 'master/': 2, 'master\'s/': 2, 'bachelor\s/': 1}
degree_keywords2 = set(degree_dict2.keys())

In [21]:
from nltk import pos_tag
from nltk.stem import PorterStemmer

ps = PorterStemmer()

# process the keywords
tool_keywords1_set = set([ps.stem(tok) for tok in tool_keywords1]) # stem the keywords (since the job description is also stemmed.)
tool_keywords1_dict = {ps.stem(tok):tok for tok in tool_keywords1} # use this dictionary to revert the stemmed words back to the original.

skill_keywords1_set = set([ps.stem(tok) for tok in skill_keywords1])
skill_keywords1_dict = {ps.stem(tok):tok for tok in skill_keywords1}

degree_keywords1_set = set([ps.stem(tok) for tok in degree_dict.keys()])
degree_keywords1_dict = {ps.stem(tok):tok for tok in degree_dict.keys()}

In [22]:
# process the job description.
def prepare_job_desc(desc):
    # tokenize description.
    desc=desc.replace("-"," ")
    desc=desc.replace("/"," ")
    tokens = [x for x in word_tokenize(desc) if x.isalnum()]
        
    # Parts of speech (POS) tag tokens.
    token_tag = pos_tag(tokens)
    
    # Only include some of the POS tags.
    include_tags = ['VBN', 'VBD', 'JJ', 'JJS', 'JJR', 'CD', 'NN', 'NNS', 'NNP', 'NNPS']
    filtered_tokens = [tok for tok, tag in token_tag if tag in include_tags]
    
    # stem words.
    stemmed_tokens = [ps.stem(tok).lower() for tok in filtered_tokens]
    return set(stemmed_tokens)

In [23]:
def mapping_list(df):
    name=get_df_name(df)
    df['JT']=name.split("_")[1]
    df['job_description_word_set'] =df['JD'].map(prepare_job_desc)
    
    tool_list = []
    skill_list = []
    degree_list = []

    num_postings = len(df.index)
    for i in range(num_postings):
        job_desc = df.iloc[i]['JD'].lower()
        job_desc_set = df.iloc[i]['job_description_word_set']

        # check if the keywords are in the job description. Look for exact match by token.
        tool_words = tool_keywords1_set.intersection(job_desc_set)
        skill_words = skill_keywords1_set.intersection(job_desc_set)
        degree_words = degree_keywords1_set.intersection(job_desc_set)

        # check if longer keywords (more than one word) are in the job description. Match by substring.
        j = 0
        for tool_keyword2 in tool_keywords2:
            # tool keywords.
            if tool_keyword2 in job_desc:
                tool_words.add(tool_keyword2)
                j += 1

        k = 0
        for skill_keyword2 in skill_keywords2:
            # skill keywords.
            if skill_keyword2 in job_desc:
                skill_words.add(skill_keyword2)
                k += 1

        # search for the minimum education.
        min_education_level = 999
        for degree_word in degree_words:
            level = degree_dict[degree_keywords1_dict[degree_word]]
            min_education_level = min(min_education_level, level)

        for degree_keyword2 in degree_keywords2:
            # longer keywords. Match by substring.
            if degree_keyword2 in job_desc:
                level = degree_dict2[degree_keyword2]
                min_education_level = min(min_education_level, level)

        # label the job descriptions without any tool keywords.
        if len(tool_words) == 0 and j == 0:
            tool_words=[None]

        # label the job descriptions without any skill keywords.
        if len(skill_words) == 0 and k == 0:
            skill_words=[None]

        # If none of the keywords were found, but the word degree is present, then assume it's a bachelors level.
        if min_education_level > 500:
            if 'degree' in job_desc:
                min_education_level = 1
                
        tool_list.append(list(tool_words))
        skill_list.append(list(skill_words))
        degree_list.append(min_education_level)
    return tool_list, skill_list, degree_list

In [24]:
def df_with_feature(df):
    tool_list, skill_list, degree_list=mapping_list(df)
    df["tool_list"]=tool_list
    df["skill_list"]=skill_list
    df["degree_list"]=degree_list
    return df

In [25]:
same_words={
    'amazon web services':'aw',
    'postgr':'sql',
    'mysql':'sql',
    'natural language processing':'nlp',
    #'nltk':'nlp'
    'power bi':'powerbi',
    'bi':'powerbi',
    'rstudio':'r',
    'neural network':'nn',
    'support vector machine':'svm',
    'a b testing':'ab testing',
    'ms office':'microsoft'
}
def combine1(tool,skill):
    res=[]

    new=tool+skill
    for word in new:
        if word!=None:
            if word in same_words:
                    if same_words[word] not in res:
                        res.append(same_words[word])
            else:
                res.append(word)
    return res

def new_list(df):
    df=df_with_feature(df)
    df["clean"] =df.apply(lambda x: combine1(x['tool_list'],x['skill_list']),axis=1)
    return df

# Final DataSet

In [26]:
df_BA=new_list(df_BA)
df_BA

,index,JT,Salary,JD,Company Name,job_description_word_set,tool_list,skill_list,degree_list,clean
0,0,BA,$56K-$102K (Glassdoor est.),You will:\nSupport agile team in translating e...,"[memorial, sloan, kettering, msk]","{research, increment, informat, group, close, ...",[excel],"[research, account, end user, analyz, commun, ...",1.0,"[excel, research, account, end user, analyz, c..."
1,1,BA,$56K-$102K (Glassdoor est.),If you enjoy working in a highly collaborative...,"[paine, schwartz, partners, psp]","{industri, integr, financ, posit, dynam, path,...","[salesforc, excel]","[account, econom, visual, financ, busi, data]",1.0,"[salesforc, excel, account, econom, visual, fi..."
2,8,BA,$56K-$102K (Glassdoor est.),Excellence Delivered As Promised.\nIt’s more t...,"[gannett, fleming, gf]","{research, industri, support, client, improv, ...",[excel],"[research, statist, recommend, kpi, econom, vi...",1.0,"[excel, research, statist, recommend, kpi, eco..."
3,9,BA,$56K-$102K (Glassdoor est.),This global practice supports clients in many ...,[mckinsey],"{client, industri, support, research, assign, ...",[None],"[research, statist, recommend, econom, math, f...",1.0,"[research, statist, recommend, econom, math, f..."
4,14,BA,$56K-$102K (Glassdoor est.),Business Analysts roles are targeted at gradua...,[efficio],"{client, fact, entri, experienc, supplier, eco...","[excel, powerpoint]","[recommend, econom, commun, problem solving, b...",1.0,"[excel, powerpoint, recommend, econom, commun,..."
...,...,...,...,...,...,...,...,...,...,...
1658,3931,BA,$45K-$110K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]","{collabor, matter, team, liaison, accuraci, an...",[None],"[busi, analyz]",999.0,"[busi, analyz]"
1659,3935,BA,$30K-$57K (Glassdoor est.),The Business Senior Analyst is an intermediate...,[citibank],"{support, variou, posit, equival, challeng, co...","[sa, excel]","[account, commun, problem solving, busi, data]",1.0,"[sa, excel, account, commun, problem solving, ..."
1660,3966,BA,$28K-$54K (Glassdoor est.),Back to job search\nBusiness Analyst - Loan IQ...,"[delaware, investments, colorado, municipal, i...","{client, 949535, group, corpor, financ, posit,...",[excel],"[account, commun, financ, risk, busi]",999.0,"[excel, account, commun, financ, risk, busi]"
1661,4014,BA,$47K-$105K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]","{collabor, matter, team, liaison, accuraci, an...",[None],"[busi, analyz]",999.0,"[busi, analyz]"
1662,4052,BA,$39K-$73K (Glassdoor est.),Junior Business Analyst\nAs the Business Analy...,"[staffigo, technical, services, llc, stsl]","{collabor, matter, team, liaison, accuraci, an...",[None],"[busi, analyz]",999.0,"[busi, analyz]"

In [27]:
df_DA=new_list(df_DA)
df_DA

,index,JT,Salary,JD,Company Name,job_description_word_set,tool_list,skill_list,degree_list,clean
0,0,DA,$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,"[vera, institute, of, justice, vioj]","{dataset, research, unaccompani, support, 212,...","[sql, r, git, python, aw, github]","[research, dashboard, clean, anomali, data, st...",999.0,"[sql, r, git, python, aw, github, research, da..."
1,1,DA,$37K-$66K (Glassdoor est.),Overview\nProvides support and analytical insi...,"[visiting, nurse, service, of, new, york, vnsony]","{research, support, stata, entri, concentr, qa...","[sa, sql, r, excel, microsoft, powerpoint]","[research, statist, dashboard, recommend, anal...",1.0,"[sa, sql, r, excel, microsoft, powerpoint, res..."
2,2,DA,$37K-$66K (Glassdoor est.),"In this role, you’ll have the opportunity to b...",[squarespace],"{rais, dataset, curios, organiz, scientist, mo...","[sql, r, looker, python, bi, tableau]","[text analytics, natural language processing, ...",1.0,"[sql, r, looker, python, powerbi, tableau, tex..."
3,3,DA,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nIntr...,[celerity],"{client, support, 19, posit, multidimension, p...","[sql, tableau, powerbi]","[etl, recommend, visual, commun, busi, data]",1.0,"[sql, tableau, powerbi, etl, recommend, visual..."
4,4,DA,$37K-$66K (Glassdoor est.),TVG — The best-in-class horse racing TV/media ...,[fanduel],"{support, 1, allow, posit, premier, hors, repo...","[python, excel, sql]","[visual, data]",1.0,"[python, excel, sql, visual, data]"
...,...,...,...,...,...,...,...,...,...,...
3978,5626,DA,$51K-$93K (Glassdoor est.),This dynamic role will require the candidate t...,"[kore1, technologies, kt]","{industri, sla, assign, organiz, spreadsheet, ...","[sql, r, excel, powerbi, bi, microsoft, power ...","[dashboard, account, kpi, end user, visual, co...",999.0,"[sql, r, excel, powerbi, microsoft, powerpoint..."
3979,5627,DA,$46K-$72K (Glassdoor est.),Hi\nHope you are doing great\nPlease go throug...,"[adwait, algorithm, aa]","{w2, lost, uat, analyst, pleas, platform, inte...","[sql, aw, cloud]","[busi, data]",1.0,"[sql, aw, cloud, busi, data]"
3980,5628,DA,$44K-$82K (Glassdoor est.),"Interpret data, analyze results using statisti...","[staffigo, technical, services, llc, stsl]","{dataset, wz7o3zfw27, improv, prefer, report, ...","[sa, sql, spss, excel, javascript]","[etl, clean, data, analyz, busi, statist]",2.0,"[sa, sql, spss, excel, javascript, etl, clean,..."
3981,5629,DA,$44K-$82K (Glassdoor est.),POSITION SUMMARY:\nThey will also analyze data...,[cepheid],"{standard, support, assign, improv, integr, ac...","[excel, microsoft, powerbi]","[recommend, dashboard, kpi, problem solving, b...",1.0,"[excel, microsoft, powerbi, recommend, dashboa..."
3982,5630,DA,$89K-$151K (Glassdoor est.),"Interpret data, analyze results using statisti...","[staffigo, technical, services, llc, stsl]","{dataset, improv, prefer, report, problem, sci...","[sa, sql, spss, excel, javascript]","[etl, data, analyz, busi, statist]",2.0,"[sa, sql, spss, excel, javascript, etl, data, ..."

In [28]:
df_DS=new_list(df_DS)
df_DS

,index,JT,Salary,JD,Company Name,job_description_word_set,tool_list,skill_list,degree_list,clean
0,0,DS,$111K-$181K (Glassdoor est.),The app has received high praise in the form o...,[hopper],"{research, startup, improv, hive, ambit, dynam...","[sa, sql, r, panda, unix, hive, linux, tableau]","[research, statist, data mining, dashboard, vi...",1.0,"[sa, sql, r, panda, unix, hive, linux, tableau..."
1,1,DS,$111K-$181K (Glassdoor est.),You have 4+ years of experience as a Data Scie...,"[noom, us, nu]","{research, standard, analysi, team, superior, ...","[sql, numpi, panda, python, excel]","[research, logist, data, commun, regress, stat...",999.0,"[sql, numpi, panda, python, excel, research, l..."
2,5,DS,$111K-$181K (Glassdoor est.),Job Brief\nThe ideal candidate will have previ...,"[ifg, companies, ic]","{research, dataset, support, properti, detail,...","[sa, sql, python, r]","[research, statist, predict, data modeling, op...",1.0,"[sa, sql, python, r, research, statist, predic..."
3,10,DS,$111K-$181K (Glassdoor est.),Backed by $153MM in venture funding from top i...,"[quartet, health, qh]","{research, password, corpor, tensorflow, scien...","[sql, numpi, git, scikit, panda, jupyt, docker...","[research, data mining, probabl, account, expl...",999.0,"[sql, numpi, git, scikit, panda, jupyt, docker..."
4,11,DS,$111K-$181K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",[pulsepoint],"{support, tree, improv, group, hive, variou, s...","[numpi, hadoop, panda, unix, docker, python, h...","[svm, segment, predict, logist, decision tree,...",1.0,"[numpi, hadoop, panda, unix, docker, python, h..."
...,...,...,...,...,...,...,...,...,...,...
968,3804,DS,$52K-$94K (Glassdoor est.),There is no shortage of computational and stat...,"[root, insurance, ri]","{industri, research, group, spark, scientist, ...","[python, sql, r, spark]","[research, statist, forecast, pipelin, machine...",2.0,"[python, sql, r, spark, research, statist, for..."
969,3809,DS,$52K-$94K (Glassdoor est.),Good understanding of machine learning and dat...,"[tephra, inc, ti]","{standard, industri, research, assign, improv,...","[sql, r, python, excel, cloud, aw]","[research, statist, data mining, natural langu...",999.0,"[sql, r, python, excel, cloud, aw, research, s..."
970,3818,DS,$52K-$94K (Glassdoor est.),You will collaborate with cross-functional tea...,"[tiger, analytics, ta]","{standard, experienc, acumen, posit, scalabl, ...","[sql, r, shini, python, excel, tableau]","[statist, optim, visual, classif, machine lear...",1.0,"[sql, r, shini, python, excel, tableau, statis..."
971,3819,DS,$52K-$94K (Glassdoor est.),The Business Planning and Analysis (BP&A) team...,"[jpmorgan, chase, bank, jcb]","{research, support, superior, leadership, infe...","[sa, sql, qlik, hadoop, excel, hive, spark, ta...","[research, statist, recommend, econom, optim, ...",1.0,"[sa, sql, qlik, hadoop, excel, hive, spark, ta..."
972,3830,DS,$55K-$113K (Glassdoor est.),The ideal candidate will have experience in Pr...,"[root, insurance, ri]","{research, build, team, scale, leadership, dem...","[aw, r, sql]","[research, predict, pipelin, machine learning,...",999.0,"[aw, r, sql, research, predict, pipelin, machi..."

In [29]:
df_DE=new_list(df_DE)
df_DE

,index,JT,Salary,JD,Company Name,job_description_word_set,tool_list,skill_list,degree_list,clean
0,0,DE,$80K-$150K (Glassdoor est.),**\nJob Overview\nAlong with the requirements ...,[sagence],"{client, industri, datastax, variou, posit, mo...","[mongodb, sql, qlik, nosql, db, mysql, cloud, ...","[etl, data warehousing, commun, data modeling,...",2,"[mongodb, sql, qlik, nosql, db, cloud, postgre..."
1,1,DE,$80K-$150K (Glassdoor est.),"Key Responsibilities\n- Architect, build, and ...","[enterprise, integration, ei]","{api, dataset, integr, capac, variou, spark, s...","[node, sql, hadoop, nosql, tableau, angular, j...","[etl, pipelin, busi, data, healthcar]",999,"[node, sql, hadoop, nosql, tableau, angular, j..."
2,2,DE,$80K-$150K (Glassdoor est.),Overview\nPosition Overview:\nSeeking a highly...,"[maestro, technologies, mt]","{industri, fact, factori, glue, hive, spark, p...","[hadoop, r, scala, java, python, lambda, azur,...","[statist, etl, econom, optim, data warehousing...",1,"[hadoop, r, scala, java, python, lambda, azur,..."
3,4,DE,$80K-$150K (Glassdoor est.),Data Engineer\nJob Details\nLevel\nExperienced...,"[gny, insurance, companies, gic]","{dataset, support, experienc, detail, semi, po...","[sql, r, python, excel, vba]","[information technology, etl, recommend, data ...",1,"[sql, r, python, excel, vba, information techn..."
4,6,DE,$80K-$150K (Glassdoor est.),Senior Data Engineer\nMaster’s degree in Infor...,"[affinity, solutions, as]","{build, mapr, analysi, nosql, newsql, redshift...","[sql, hadoop, nosql, redshift, python, spark, ...","[information technology, data, machine learning]",2,"[sql, hadoop, nosql, redshift, python, spark, ..."
...,...,...,...,...,...,...,...,...,...,...
1162,2500,DE,$56K-$89K (Glassdoor est.),Organization: Accenture Federal Services\nAcce...,"[solekai, systems, corp, ssc]","{client, strategi, depart, safeti, militari, p...",[None],[busi],999,[busi]
1163,2503,DE,$56K-$89K (Glassdoor est.),"Job Responsibilities\nWrite well designed, tes...","[ntt, data, nd]","{standard, research, support, dataset, protegr...","[sql, hadoop, scala, unix, python, azur, spark...","[research, busi, segment, recommend]",1,"[sql, hadoop, scala, unix, python, azur, spark..."
1164,2504,DE,$56K-$89K (Glassdoor est.),"Your Opportunity\nThey help Marketing, Finance...",[schwab],"{client, standard, industri, fact, support, le...","[mapreduc, git, hadoop, scala, db, unix, java,...","[etl, pipelin, commun, financ, risk, big data,...",1,"[mapreduc, git, hadoop, scala, db, unix, java,..."
1165,2514,DE,$76K-$128K (Glassdoor est.),"Digital SW Eng Lead/Data Engineer\nIrving, TX\...","[technocraft, solutions, ts]","{standard, eng, client, research, support, cov...","[mapreduc, hadoop, nosql, c, java, pig, docker...","[research, etl, pipelin, commun, big data, bus...",1,"[mapreduc, hadoop, nosql, c, java, pig, docker..."
1166,2525,DE,$76K-$128K (Glassdoor est.),"Develop data collections, labeling pipelines, ...","[cincinnati, bell, technology, solutions, cbts]","{api, verif, tensorflow, dynam, more, elk, jav...","[java, python, excel, tensorflow, elasticsearch]","[recommend, dashboard, optim, pipelin, unsuper...",2,"[java, python, excel, tensorflow, elasticsearc..."

# LDA List Implementation

In [30]:
import csv

with open('LDA_List', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

In [31]:
lda_list=[]
for lda in data:
    for item in lda:
        word=item.split("('")[1].split("'")[0]
        lda_list.append(word)

In [32]:
from nltk import pos_tag
from nltk.stem import PorterStemmer

ps = PorterStemmer()

# process the keywords
lda_list_set = set([ps.stem(tok) for tok in lda_list])

In [33]:
# process the job description.
def prepare_job_desc(desc):
    # tokenize description.
    desc=desc.replace("-"," ")
    desc=desc.replace("/"," ")
    tokens = [x for x in word_tokenize(desc) if x.isalnum()]
        
    # Parts of speech (POS) tag tokens.
    token_tag = pos_tag(tokens)
    
    # Only include some of the POS tags.
    include_tags = ['VBN', 'VBD', 'JJ', 'JJS', 'JJR', 'CD', 'NN', 'NNS', 'NNP', 'NNPS']
    filtered_tokens = [tok for tok, tag in token_tag if tag in include_tags]
    
    # stem words.
    stemmed_tokens = [ps.stem(tok).lower() for tok in filtered_tokens]
    return set(stemmed_tokens)

In [34]:
def mapping_list(df):
    name=get_df_name(df)
    df['JT']=name.split("_")[1]
    df['job_description_word_set'] =df['JD'].map(prepare_job_desc)
    
    lda_list = []
   

    num_postings = len(df.index)
    for i in range(num_postings):
        job_desc = df.iloc[i]['JD'].lower()
        job_desc_set = df.iloc[i]['job_description_word_set']

        # check if the keywords are in the job description. Look for exact match by token.
        lda_words = lda_list_set.intersection(job_desc_set)

        
        if len(lda_words) == 0:
            lda_words=[None]
    
                
        lda_list.append(list(lda_words))
    
    return lda_list

In [35]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [36]:
def df_with_feature(df):
    df["lda_list"]= mapping_list(df)
    return df

In [37]:
def combine1(clean,lda):
    res=[]

    new=clean+lda
    for word in new:
        if word!=None:
            res.append(word)
    return res

In [38]:
def new_list(df):
    df=df_with_feature(df)

    df["newlist"] =df.apply(lambda x: x['clean']+x['lda_list'],axis=1)


    return df

In [40]:
df_BA=new_list(df_BA)
df_DA=new_list(df_DA)
df_DS=new_list(df_DS)
df_DE=new_list(df_DE)

In [51]:
df_BA['JT']="BA"
df_DS['JT']="DS"
df_DE['JT']="DE"

# Export the Dataset

In [53]:
def final_clean(df):
    return df[['JT','JD','tool_list','skill_list','degree_list','clean','lda_list','newlist']]

In [54]:
final_clean(df_BA).to_csv('BA',index=False)
final_clean(df_DS).to_csv('DS',index=False)
final_clean(df_DA).to_csv('DA',index=False)
final_clean(df_DE).to_csv('DE',index=False)